.edit-wrapper-input {

  ul {
    li{
      list-style: none;
    }
    >.ui-connect-start{
      height: 80px;
      border: 2px dashed #c2c2c2;
      display: none;
    }
  }


  input[type=checkbox] , input[type=radio] {
    width: 20px;
    height: 20px;
  }
  .fa-check {
    width: 50px;
    font-family: fontawesome;
    font-size: 25px;
    color: #1AC82B;
  }
  .wrapper-filed {
    overflow: hidden;
    position: relative;
    i.fa-trash{
      position: absolute;
      left: 160px;
    }
  }
  .wrapper-input:hover {
    border: 2px dashed #c2c2c2;
    border-radius: 5px;
    box-sizing: border-box;
    transition: 0.5s ease border;


  }

  .wrapper-input{
    label:hover{
      background-color: #fffbe1;;
      cursor: pointer;
    }
  }
  .wrapper-input {
    padding: 12px 20px 0px 20px;
    border: solid 2px transparent;

    input[type="text"] {
      padding: 0.4em;
      font-family: Arial;
      margin-bottom: 10px;
    }

  }

  .wrapper-input i {
    padding: 10px;
    font-size: 20px;

  }
  .icon-forms {
    cursor: pointer;
    margin-left: 5px;
    color: rgb(160, 160, 160);
  }
  .icon-forms:active {
    color: rgb(49, 49, 49);
  }
  .btn {
    margin: 5px;
  }
}

.view-wrapper-input {
  input[type=checkbox], input[type=radio] {
    width: 20px;
    height: 20px;
  }
}

.area-buttons-draggable{
  li{
    list-style: none;
  }
  div{
    margin: 5px;
    clear:both ;
    float: none;
  }
  .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: none;
    background:none;
    font-weight: bold;
    color: #1c94c4;

  }
}

